#header {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
}

.navbar {
  margin-bottom: 0;
  font-size: 1.5em;
}
